$padding1: 20px;
$padding2: 30px;
$border-color: darkred;
$border-form: solid;
$img-deskop: 200px;
$black: black;
$white: white;
$px1: 100px;

@mixin bordes ($border-color, $border-form, $black)

{
    border-color: $border-color;
    border-style: $border-form;
    color: $black;
    
}
